.jumbotron{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("http://www.perinijournal.it/CmsData/PeriniJournal/PJL%2043/94-Pasteur/germs_or_bacteria-SITO.jpg");
}
body{
    background-color: whitesmoke;
}
#bubble{
    width:100%;
    margin-top: 1%;
}
header{
    color: white;
    text-shadow: 3px 3px black;
}